<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/script.js" async></script>
  </head>
  <body>
    <h1>Viens te faire enguirlander !</h1>
    <div class="rancy-guirlande" data-mode="0" ></div>
  </body>
</html>
