html{
   background-color: azure; 
}

h1{
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.rancy-guirlande {
    width: 100%;
    display: flex;
    flex-direction: column;
}
  
.rancy-guirlande > canvas {
/* Center horizontally*/
    display: flex;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
}

.rancy-color-container {
    /* Center horizontally*/
    display: flex;
    text-align: center;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 1em;
}

.rancy-color-container > label{
    /* Center horizontally*/
    display: flex;
    padding-left: 1em;
}

.rancy-clear-button{
    max-width: 25%;
    min-width: 20%;
    margin: 0 auto;
    margin-top: 1em;
    text-align: center;
}

.rancy-mode-button{
    display: block;
    width: 10%;
    min-width: 25px;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}
